<div class="text-center">
		<h1>List of Diseases</h1>
		<h3>Gotta catch em all!</h3>
	<% diseases.forEach(function(disease) { %>
				<a href="diseases/<%= disease.id %>">
					<p class="text-danger">
						<%= disease.name %>
					</p>
				</a>
	<% }); %>
</div>
