<h1>Create a New Symptom</h1>

<form action="/symptoms" method="POST">
	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" name="name" placeholder="Name of symptom" class="form-control">
	</div>
	<div class="form-group">
		<label for="description">Description:</label>
		<textarea name="description" placeholder="Description of symptom" cols="30" rows="10" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<label for="severity">Severity:</label>
		<input type="number" name="severity" placeholder="Severity of symptom (1 - 10)" class="form-control">
	</div>
	<div class="form-group">
		<label for="affectedSystems">Affected Systems:</label>
		<input type="text" name="affectedSystems" placeholder="List your affected systems" class="form-control">
	</div>
	<div class="form-group">
		<label for="diseases">Diseases:</label>
		<input type="text" name="diseases" placeholder="Diseases associated with this symptom?" class="form-control">
	</div>
	<input type="submit" value="Add symptom" class="btn btn-success">

</form>
