<div class="text-center">
<h1>Do you have any of these symptoms?</h1>
<img src="/img/cough.jpg" alt="man-coughing">
	<% symptoms.forEach(function(symptom) { %>
			<div>
				<a href="symptoms/<%= symptom.id %>">
					<%= symptom.name %>
				</a>
				<span> - </span>
				<span><%= symptom.description %></span>
			</div>
	<% }); %>
</div>
